# Ignorera allt i html/upload-katalogen
/html/upload/*

# Men inkludera index.php i html/upload-katalogen
!/html/upload/index.php

# Ignorera konfigurationsfiler för databaser
*.sql

# Vanliga filer att ignorera i webbprojekt
.env
/vendor/
/node_modules/
.DS_Store
