# Ignorera upload-katalogen
/upload/
# Men inkludera index.php i upload-katalogen
!/upload/index.php

# Ignorera konfigurationsfiler för databaser
*.sql

# Vanliga filer att ignorera i webbprojekt
.env
/vendor/
/node_modules/
.DS_Store
